CARSAutomatedMachineClient/src/conf/xml-resources/web-service-references/CARSRemoteUserWebService/wsdl/localhost_8080/CARSWebService/CARSRemoteUserWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="CARSWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/CARSWebService/CARSRemoteUserWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="addNewPatient">
<part name="parameters" element="tns:addNewPatient"/>
</message>
<message name="addNewPatientResponse">
<part name="parameters" element="tns:addNewPatientResponse"/>
</message>
<message name="PatientExistException">
<part name="fault" element="tns:PatientExistException"/>
</message>
<message name="patientLogin">
<part name="parameters" element="tns:patientLogin"/>
</message>
<message name="patientLoginResponse">
<part name="parameters" element="tns:patientLoginResponse"/>
</message>
<message name="PatientNotFoundException">
<part name="fault" element="tns:PatientNotFoundException"/>
</message>
<message name="InvalidLoginCredentialException">
<part name="fault" element="tns:InvalidLoginCredentialException"/>
</message>
<portType name="CARSRemoteUserWebService">
<operation name="addNewPatient">
<input wsam:Action="http://ws.session.ejb/CARSRemoteUserWebService/addNewPatientRequest" message="tns:addNewPatient"/>
<output wsam:Action="http://ws.session.ejb/CARSRemoteUserWebService/addNewPatientResponse" message="tns:addNewPatientResponse"/>
<fault message="tns:PatientExistException" name="PatientExistException" wsam:Action="http://ws.session.ejb/CARSRemoteUserWebService/addNewPatient/Fault/PatientExistException"/>
</operation>
<operation name="patientLogin">
<input wsam:Action="http://ws.session.ejb/CARSRemoteUserWebService/patientLoginRequest" message="tns:patientLogin"/>
<output wsam:Action="http://ws.session.ejb/CARSRemoteUserWebService/patientLoginResponse" message="tns:patientLoginResponse"/>
<fault message="tns:PatientNotFoundException" name="PatientNotFoundException" wsam:Action="http://ws.session.ejb/CARSRemoteUserWebService/patientLogin/Fault/PatientNotFoundException"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/CARSRemoteUserWebService/patientLogin/Fault/InvalidLoginCredentialException"/>
</operation>
</portType>
<binding name="CARSRemoteUserWebServicePortBinding" type="tns:CARSRemoteUserWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addNewPatient">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PatientExistException">
<soap:fault name="PatientExistException" use="literal"/>
</fault>
</operation>
<operation name="patientLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PatientNotFoundException">
<soap:fault name="PatientNotFoundException" use="literal"/>
</fault>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
</operation>
</binding>
<service name="CARSWebService">
<port name="CARSRemoteUserWebServicePort" binding="tns:CARSRemoteUserWebServicePortBinding">
<soap:address location="http://localhost:8080/CARSWebService/CARSRemoteUserWebService"/>
</port>
</service>
</definitions>