CARSAutomatedMachineClient/src/conf/wsdl/localhost_8080/AppointmentWebService/AppointmentWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="AppointmentWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/AppointmentWebService/AppointmentWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="hasAppointmentOnDay">
<part name="parameters" element="tns:hasAppointmentOnDay"/>
</message>
<message name="hasAppointmentOnDayResponse">
<part name="parameters" element="tns:hasAppointmentOnDayResponse"/>
</message>
<message name="cancelAppointment">
<part name="parameters" element="tns:cancelAppointment"/>
</message>
<message name="cancelAppointmentResponse">
<part name="parameters" element="tns:cancelAppointmentResponse"/>
</message>
<message name="AppointmentNotFoundException">
<part name="fault" element="tns:AppointmentNotFoundException"/>
</message>
<message name="retrieveListOfAppointmentsByPatientId">
<part name="parameters" element="tns:retrieveListOfAppointmentsByPatientId"/>
</message>
<message name="retrieveListOfAppointmentsByPatientIdResponse">
<part name="parameters" element="tns:retrieveListOfAppointmentsByPatientIdResponse"/>
</message>
<message name="retrieveAllDoctors">
<part name="parameters" element="tns:retrieveAllDoctors"/>
</message>
<message name="retrieveAllDoctorsResponse">
<part name="parameters" element="tns:retrieveAllDoctorsResponse"/>
</message>
<message name="retrieveDoctorById">
<part name="parameters" element="tns:retrieveDoctorById"/>
</message>
<message name="retrieveDoctorByIdResponse">
<part name="parameters" element="tns:retrieveDoctorByIdResponse"/>
</message>
<message name="DoctorNotFoundException">
<part name="fault" element="tns:DoctorNotFoundException"/>
</message>
<message name="isAvailableAtDate">
<part name="parameters" element="tns:isAvailableAtDate"/>
</message>
<message name="isAvailableAtDateResponse">
<part name="parameters" element="tns:isAvailableAtDateResponse"/>
</message>
<message name="getAllTimeSlots">
<part name="parameters" element="tns:getAllTimeSlots"/>
</message>
<message name="getAllTimeSlotsResponse">
<part name="parameters" element="tns:getAllTimeSlotsResponse"/>
</message>
<message name="ClinicNotOpenException">
<part name="fault" element="tns:ClinicNotOpenException"/>
</message>
<message name="isAvailableAtTimeDate">
<part name="parameters" element="tns:isAvailableAtTimeDate"/>
</message>
<message name="isAvailableAtTimeDateResponse">
<part name="parameters" element="tns:isAvailableAtTimeDateResponse"/>
</message>
<message name="createNewAppointment">
<part name="parameters" element="tns:createNewAppointment"/>
</message>
<message name="createNewAppointmentResponse">
<part name="parameters" element="tns:createNewAppointmentResponse"/>
</message>
<message name="AppointmentInvalidException">
<part name="fault" element="tns:AppointmentInvalidException"/>
</message>
<message name="retrieveAppointmentById">
<part name="parameters" element="tns:retrieveAppointmentById"/>
</message>
<message name="retrieveAppointmentByIdResponse">
<part name="parameters" element="tns:retrieveAppointmentByIdResponse"/>
</message>
<portType name="AppointmentWebService">
<operation name="hasAppointmentOnDay">
<input wsam:Action="http://ws.session.ejb/AppointmentWebService/hasAppointmentOnDayRequest" message="tns:hasAppointmentOnDay"/>
<output wsam:Action="http://ws.session.ejb/AppointmentWebService/hasAppointmentOnDayResponse" message="tns:hasAppointmentOnDayResponse"/>
</operation>
<operation name="cancelAppointment">
<input wsam:Action="http://ws.session.ejb/AppointmentWebService/cancelAppointmentRequest" message="tns:cancelAppointment"/>
<output wsam:Action="http://ws.session.ejb/AppointmentWebService/cancelAppointmentResponse" message="tns:cancelAppointmentResponse"/>
<fault message="tns:AppointmentNotFoundException" name="AppointmentNotFoundException" wsam:Action="http://ws.session.ejb/AppointmentWebService/cancelAppointment/Fault/AppointmentNotFoundException"/>
</operation>
<operation name="retrieveListOfAppointmentsByPatientId">
<input wsam:Action="http://ws.session.ejb/AppointmentWebService/retrieveListOfAppointmentsByPatientIdRequest" message="tns:retrieveListOfAppointmentsByPatientId"/>
<output wsam:Action="http://ws.session.ejb/AppointmentWebService/retrieveListOfAppointmentsByPatientIdResponse" message="tns:retrieveListOfAppointmentsByPatientIdResponse"/>
</operation>
<operation name="retrieveAllDoctors">
<input wsam:Action="http://ws.session.ejb/AppointmentWebService/retrieveAllDoctorsRequest" message="tns:retrieveAllDoctors"/>
<output wsam:Action="http://ws.session.ejb/AppointmentWebService/retrieveAllDoctorsResponse" message="tns:retrieveAllDoctorsResponse"/>
</operation>
<operation name="retrieveDoctorById">
<input wsam:Action="http://ws.session.ejb/AppointmentWebService/retrieveDoctorByIdRequest" message="tns:retrieveDoctorById"/>
<output wsam:Action="http://ws.session.ejb/AppointmentWebService/retrieveDoctorByIdResponse" message="tns:retrieveDoctorByIdResponse"/>
<fault message="tns:DoctorNotFoundException" name="DoctorNotFoundException" wsam:Action="http://ws.session.ejb/AppointmentWebService/retrieveDoctorById/Fault/DoctorNotFoundException"/>
</operation>
<operation name="isAvailableAtDate">
<input wsam:Action="http://ws.session.ejb/AppointmentWebService/isAvailableAtDateRequest" message="tns:isAvailableAtDate"/>
<output wsam:Action="http://ws.session.ejb/AppointmentWebService/isAvailableAtDateResponse" message="tns:isAvailableAtDateResponse"/>
<fault message="tns:DoctorNotFoundException" name="DoctorNotFoundException" wsam:Action="http://ws.session.ejb/AppointmentWebService/isAvailableAtDate/Fault/DoctorNotFoundException"/>
</operation>
<operation name="getAllTimeSlots">
<input wsam:Action="http://ws.session.ejb/AppointmentWebService/getAllTimeSlotsRequest" message="tns:getAllTimeSlots"/>
<output wsam:Action="http://ws.session.ejb/AppointmentWebService/getAllTimeSlotsResponse" message="tns:getAllTimeSlotsResponse"/>
<fault message="tns:ClinicNotOpenException" name="ClinicNotOpenException" wsam:Action="http://ws.session.ejb/AppointmentWebService/getAllTimeSlots/Fault/ClinicNotOpenException"/>
</operation>
<operation name="isAvailableAtTimeDate">
<input wsam:Action="http://ws.session.ejb/AppointmentWebService/isAvailableAtTimeDateRequest" message="tns:isAvailableAtTimeDate"/>
<output wsam:Action="http://ws.session.ejb/AppointmentWebService/isAvailableAtTimeDateResponse" message="tns:isAvailableAtTimeDateResponse"/>
<fault message="tns:DoctorNotFoundException" name="DoctorNotFoundException" wsam:Action="http://ws.session.ejb/AppointmentWebService/isAvailableAtTimeDate/Fault/DoctorNotFoundException"/>
</operation>
<operation name="createNewAppointment">
<input wsam:Action="http://ws.session.ejb/AppointmentWebService/createNewAppointmentRequest" message="tns:createNewAppointment"/>
<output wsam:Action="http://ws.session.ejb/AppointmentWebService/createNewAppointmentResponse" message="tns:createNewAppointmentResponse"/>
<fault message="tns:AppointmentInvalidException" name="AppointmentInvalidException" wsam:Action="http://ws.session.ejb/AppointmentWebService/createNewAppointment/Fault/AppointmentInvalidException"/>
</operation>
<operation name="retrieveAppointmentById">
<input wsam:Action="http://ws.session.ejb/AppointmentWebService/retrieveAppointmentByIdRequest" message="tns:retrieveAppointmentById"/>
<output wsam:Action="http://ws.session.ejb/AppointmentWebService/retrieveAppointmentByIdResponse" message="tns:retrieveAppointmentByIdResponse"/>
<fault message="tns:AppointmentNotFoundException" name="AppointmentNotFoundException" wsam:Action="http://ws.session.ejb/AppointmentWebService/retrieveAppointmentById/Fault/AppointmentNotFoundException"/>
</operation>
</portType>
<binding name="AppointmentWebServicePortBinding" type="tns:AppointmentWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hasAppointmentOnDay">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cancelAppointment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="AppointmentNotFoundException">
<soap:fault name="AppointmentNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrieveListOfAppointmentsByPatientId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveAllDoctors">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveDoctorById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="DoctorNotFoundException">
<soap:fault name="DoctorNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="isAvailableAtDate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="DoctorNotFoundException">
<soap:fault name="DoctorNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="getAllTimeSlots">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ClinicNotOpenException">
<soap:fault name="ClinicNotOpenException" use="literal"/>
</fault>
</operation>
<operation name="isAvailableAtTimeDate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="DoctorNotFoundException">
<soap:fault name="DoctorNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="createNewAppointment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="AppointmentInvalidException">
<soap:fault name="AppointmentInvalidException" use="literal"/>
</fault>
</operation>
<operation name="retrieveAppointmentById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="AppointmentNotFoundException">
<soap:fault name="AppointmentNotFoundException" use="literal"/>
</fault>
</operation>
</binding>
<service name="AppointmentWebService">
<port name="AppointmentWebServicePort" binding="tns:AppointmentWebServicePortBinding">
<soap:address location="http://localhost:8080/AppointmentWebService/AppointmentWebService"/>
</port>
</service>
</definitions>